container {
    display: flex;
    height: 100%;
}

container div {
    flex: 1;
    border: .5px dashed black;
    flex-basis: 100%;
}

container div:hover {
    background-color: blue;
    color: white;
}

/* column {
    display: flex;
    height: 100%;
}

row {
    background-color: blue;
    color: white;
} */
